<section>
  <article>
    <div class="hello">
      <div>
        <h1>Hello, Emma Sheilton</h1>
        <span>Have a nice day and don't forget take care of you heath</span>
      </div>
      <img src="assets/avatar/doctor.png">
    </div>

    <div class="cards">

      <div class="card first">

        <div class="card-hearder">
          <i class="bi bi-heart-pulse-fill"></i>
          5 consultations
        </div>

        <div class="card-body">
          <h4>Consultations</h4>
          <span>lirem ipsum lirem ipsum lirem ipsum</span>
        </div>
      </div>


      <div class="card second">
        <div class="card-hearder">
          <i class="bi bi-hospital"></i>
          10 hospitalisations
        </div>

        <div class="card-body">
          <h4>Consultations</h4>
          <span>lirem ipsum lirem ipsum lirem ipsum</span>
        </div>
      </div>
      <div class="card third">
        <div class="card-hearder">
          <i class="bi bi-heart-pulse-fill"></i>
          5 consultations
        </div>

        <div class="card-body">
          <h4>Consultations</h4>
          <span>lirem ipsum lirem ipsum lirem ipsum</span>
        </div>
      </div>
      <div class="card last">
        <div class="card-hearder">
          <i class="bi bi-heart-pulse-fill"></i>
          5 consultations
        </div>

        <div class="card-body">
          <h4>Consultations</h4>
          <span>lirem ipsum lirem ipsum lirem ipsum</span>
        </div>
      </div>
    </div>

    <div class="statistiques">
      <div class="stats">
        <div class="stat-card">
          <i class="bi bi-server"></i>
          <div class="stat-infos">
            <p>Lorem Ipsum</p>
            <p>45 %</p>
          </div>
        </div>
      </div>

      <div class="persons">

        <div class="person">
          <i class="bi bi-person"></i>
          42 Medecins
        </div>
        <div class="person">
          <i class="bi bi-person-plus-fill"></i>
          20 Infirmiers
        </div>
        <div class="person">
          <i class="bi bi-person-bounding-box"></i>
          42 Medecins
        </div>
        <div class="person">
          <i class="bi bi-person"></i>
          42 Medecins
        </div>
      </div>
    </div>

  </article>

  <aside>
    <canvas id="myChart"></canvas>
  </aside>

</section>
