<section>

  <header>
    <h1><a routerLink="/personnels/home">Gestion du personnel</a> <i class="bi bi-file-person"></i></h1>
    <span mat-raised-button color="primary"
          matBadge="8" matBadgePosition="before" matBadgeColor="accent">
      News
    </span>
  </header>
  <div class="menus">
    <div class="menu">
      <ul>Personnel
        <li><a routerLink="/personnels/services">Services</a></li>
        <li><a>Départements</a></li>
        <li><a>Postes</a></li>
        <li><a>Employés</a></li>

      </ul>

    </div>

    <div class="menu">
      <ul>Contrat
        <li>sous menu</li>
        <li>sous menu</li>

      </ul>

    </div>

    <div class="menu">
      <ul>Congés
        <li>sous menu</li>
        <li>sous menu</li>

      </ul>

    </div>

    <div class="menu">
      <ul>Sanctions
        <li>sous menu</li>
        <li>sous menu</li>

      </ul>

    </div>

    <div class="menu">
      <ul>Permissions
        <li>sous menu</li>
        <li>sous menu</li>

      </ul>

    </div>
    <div class="menu">
      <ul>Recrutement
        <li>sous menu</li>
        <li>sous menu</li>
      </ul>

    </div>

  </div>

</section>
