@import "src/assets/css/variables";
@import "src/assets/css/mixin";

.menus {
  display: flex;
  width: 80%;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
  background: $mainColor;
  margin-top: 50px;
  border-radius: 20px;
  height: $hauteur;

  & .menu {
    padding: 10px;
    width: 20%;
    margin-right: 3%;

    & ul {
      cursor: pointer;
      list-style: none;
      font-size: 40px;
      padding-right: 30px;
      z-index: 1;
      position: absolute;
      color: $primary;
      &:hover {
        background: $mainColor;
        border-radius: 20px;
      }

      &:hover > li {
        display: block;
        @include animMemu();
      }

      & li {
        //display: none;
        padding: 5px;
        font-size: 25px;
        color: $iconSecond;
        font-weight: 500;
        margin-top: 20px;

        & :hover {
          color: $primary;
        }

        & a {
          text-decoration: none;
          color: $iconSecond;
          font-weight: 500;
        }
      }
    }
  }
}
