<section>
  <header>
    <h1><a routerLink="/personnels/home">Gestion du personnel</a> <i class="bi bi-file-person"></i>
      / <a routerLink="/personnel/services">Services</a></h1>
    <span mat-raised-button color="primary"
          matBadge="8" matBadgePosition="before" matBadgeColor="accent">
      News
    </span>
  </header>

  <article>
    <div class="container">
      <div class="titre">
        <h3>Liste des services</h3>
        <button>Nouveau</button>
      </div>
    </div>
  </article>
</section>
