@import "variables";
@import "keyframes";

@mixin animMemu() {

  animation: animMenu 700ms ease-in-out;
}

@mixin changeBackground($background,$color) {
  color: $color;
  background-color: $background;
  box-shadow: 1px 1px 1px 1px $background;
}

@mixin animIcon() {
  animation: delay 600ms ease-in-out;
}
